service: kat-bot
provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1
  memorySize: 128
functions:
  app:
    handler: handler.handler
    events: 
      - http: 
          path: /interactions
          method: ANY
          cors: true
    environment: ${file(env.json)}